.navigation-bar {
  // position: sticky;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 300ms ease-in-out;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo-container {
  padding: 0.5rem;

  .brand-logo {
    height: 40px;
    display: inline-block;
    position: relative;

    img {
      height: 100%;
      position: absolute;
      aspect-ratio: 1 / 1;
    }
  }
}

.primary-navigation {
  display: flex;
  list-style: none;
  gap: 40px;
  a {
    text-decoration: none;
    color: var(--secondary-color);

    [aria-hidden='true'] {
      margin-inline-end: 0.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    padding: 2rem; //min(30vh, 10rem)

    flex-direction: column;

    background: hsla(0, 0%, 0%, 0.75);
    backdrop-filter: blur(1rem);

    &.v2 {
      background-color: black;
      backdrop-filter: none;
    }
  }
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
  }
}
