* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --canvas-bg: #2e2e2e;

  --cloud-text-color: #14cfae;
}

body {
  background-color: var(--canvas-bg);
  background-color: black;
}

.canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  div {
    margin: 10px 15px;
    text-align: right;
    font-size: 18px;
    color: #eeeeee;
  }

  a {
    color: aqua;
    font-size: 18px;
  }
}
