@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import './navbar';

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: rgba(0, 181, 255);

  --border-radius: 4px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Monserrat', sans-serif;
}

body {
  // height: 100vh;
}

.body-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.full-page-section {
  height: 100vh;
}

.home {
  color: white;
  background-color: black;
  position: relative;
}

.constellation-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.short-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;
  font-weight: bold;
}

.contact-button {
  position: absolute;
  bottom: calc(0% - 200px);
}

.typewrite-text {
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 150%;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    border-right: 2px solid white;
    animation: blink 300ms infinite linear alternate;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.about-me {
  color: white;
  background-color: black;
  position: relative;
}

.skills-showcase-canvas {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 20%;
  right: 0;
  // transform: translateY(-50%);
}

.contact {
  color: white;
  background-color: black;
}

.outlined-btn {
  padding: 1.25rem 1.75rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  background: transparent;
  cursor: pointer;

  &.blur {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
