.contactIconAnchor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hideSvg {
  display: none;
}

.justStroke {
  fill: var(--icon-primary-fill-color);
  stroke: var(--icon-stroke-color);
}

.fillColor {
  fill: var(--icon-secondary-fill-color);
}

.fillWithPrimaryColor {
  fill: #fff;
  stroke: #fff;
}
