.listHolder {
  --iconSize: 40px;
  --final-turn: 0turn;
  --final-left-position: 0;
  --final-top-position: 0;
  position: relative;
  display: flex;
  list-style: none;
  /* background-color: rgba(255, 255, 0, 0.4); */
  /* z-index: -1; */
}

.listItem {
  position: absolute;
  display: inline-block;

  text-align: center;
  height: var(--iconSize);
  width: var(--iconSize);
  border-radius: 50%;
  /* border: 1px solid #fff; */

  animation-duration: 1s;
  animation-fill-mode: forwards;

  /* display: grid;
  place-content: center; */

  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 15px; */
  opacity: 0%;
}

.listItem::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: var(--contact-icon-border, 1px solid #888);
  rotate: 45deg;
  border-radius: 10px;
  z-index: -1;
}

.listItem:hover {
  --icon-primary-fill-color: #64ffda;
  --icon-stroke-color: #64ffda;
  translate: 0 -8%;
}

.listItem:hover::before {
  border: var(--contact-icon-border, 1px solid #64ffda);
}

.listItem a {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.showUp {
  animation-name: scrollExpand;
}

.wrapUp {
  animation-name: scrollShrink;
}

.showUp > a {
  animation-name: unhideAnim;
}

.wrapUp > a {
  animation-name: hideAnim;
}

@keyframes scrollExpand {
  0% {
    transform: translate(0%) rotate(0turn);
    opacity: 0%;
  }

  100% {
    transform: translate(var(--final-left-position), var(--final-top-position))
      rotate(var(--final-turn));
    opacity: 100%;
  }
}

@keyframes scrollShrink {
  0% {
    transform: translate(var(--final-left-position), var(--final-top-position))
      rotate(var(--final-turn));
    opacity: 100%;
  }

  100% {
    transform: translate(0%) rotate(0turn);
    opacity: 0%;
  }
}

@keyframes hideAnim {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

@keyframes unhideAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
