.section {
  display: grid;
  place-items: center;
}

.copyMailBox {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 7px 10px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
