.section {
  display: grid;
  place-items: center;
}

.copyMailBox {
  border: 1px solid #888;
  border-radius: 10px;
  padding: 7px 10px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.copyMailContainer {
  position: relative;
  color: transparent;
}

.copyMailContainer > * {
  color: #fff;
  text-wrap: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  transition: opacity 200ms linear;
}

.iconHolder {
  position: relative;
  height: 25px;
  width: 25px;
  display: inline-block;
}
