---
import Layout from '../layouts/Layout.astro';
import Home from './../layouts/Home.astro';
import About from './../layouts/About.astro';
import Contact from './../layouts/Contact.astro';
import SvgStore from './../layouts/SvgStore.astro';

import ContactStick from '../components/ContactStick.astro';
import Navbar from '../components/Navbar.astro';

const sections = ['Home', 'About', 'Contact'];
---

<Layout title="Prasanna Ps">
  <!-- <canvas></canvas> -->

  <Navbar sections={sections} />
  <div class="topWrapper">
    <ContactStick />
    <main class="mainContent">
      <Home />
      <About />
      <Contact />
    </main>
  </div>
  <SvgStore />
</Layout>

<style>
  .topWrapper {
    display: flex;
  }

  .blockMouseEvents {
    pointer-events: none;
  }
</style>

<style is:global>
  .mainContent {
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .mainContent::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .mainContent > section {
    max-width: 100rem;
    min-height: 100vh;
    padding: 0 9.375rem;
    display: grid;
    place-items: center;
  }

  @media only screen and (max-width: 768px) {
    .mainContent > section {
      padding: 0 4rem;
    }
  }

  /* .mainContent {
  display: flex;
  position: fixed;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mainContent::-webkit-scrollbar {
  display: none;
}
*/

  /* @media only screen and (min-width: 769px) { */
  .mainContent > section {
    /* position: absolute; */
    scroll-snap-align: start;
    /* scale: 3000; */
    /* opacity: 0;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards; */
    /* animation-name: var(--page-anim, none); */

    transform-origin: -50%;
  }

  .mainContent > section > div {
    /* opacity: 0; */
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
</style>
