---
import Layout from "../layouts/Layout.astro";
import Home from "./../layouts/Home.astro";
import About from "./../layouts/About.astro";
import Contact from "./../layouts/Contact.astro";
import SvgStore from "./../layouts/SvgStore.astro";

import ContactStick from "../components/ContactStick.astro";
import Navbar from "../components/Navbar.astro";

const sections = ["Home", "About", "Contact"];
---

<Layout title="Prasanna Ps">
  <!-- <canvas></canvas> -->
  <Navbar sections={sections} />
  <div class="topWrapper">
    <ContactStick />
    <main class="mainContent scrollSnapMainContent">
      <Home />
      <About />
      <Contact />
    </main>
  </div>
  <SvgStore />
  <script aria-label="dev-easter-egg">
    console.log(
      "You seems like a curios dev!\nCheckout my other projects at https://github.com/PrasannaPanneerSelvam"
    );
  </script>
</Layout>

<style is:global>
  .topWrapper {
    display: flex;
    background: inherit;
  }

  .mainContent {
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .mainContent::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .mainContent > section {
    max-width: 100rem;
    min-height: 100vh;
    padding: 0 9.375rem;
    display: grid;
    place-items: center;
  }

  @media only screen and (max-width: 768px) {
    .mainContent > section {
      padding: 0 4rem;
    }
  }

  .scrollSnapMainContent {
    display: flex;
    position: fixed;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  .scrollSnapMainContent > section {
    scroll-snap-align: start;
  }

  .blockMouseEvents {
    pointer-events: none;
  }
</style>
