---
import SectionHeader from "./SectionHeader.astro";

interface Props {
  headerText: string;
}

const { headerText } = Astro.props;
---

<div class="contentWrapper">
  <SectionHeader headerText={headerText} />
  <div><slot /></div>
</div>

<style is:global>
  .contentWrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(8, 5, 27, 0.6);
  }

  @supports (backdrop-filter: blur(2rem)) {
    .contentWrapper {
      background-color: rgba(8, 5, 27, 0.05);
      backdrop-filter: blur(0.125rem);
    }
  }
</style>
