<div class="hamburgerButtonHolder">
  <input type="checkbox" class="hamburger-inp" id="hamburgerButton" />
  <div class="criss-cross"></div>
</div>

<style is:global>
  .hamburgerButtonHolder {
    --hamburger-line-height: 3px;
    --hamburger-line-width: 30px;

    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;

    box-sizing: content-box;
    height: calc(8 * var(--hamburger-line-height));
    padding: 1vh;

    position: absolute;
    top: 1vh;
    right: 1vh;

    /* z-index: var(--hamburger-level); */
    z-index: 9999;
  }

  .criss-cross {
    display: inline-block;
    position: relative;
    height: var(--hamburger-line-height);
    width: var(--hamburger-line-width);
    background-color: var(--icon-stroke-color);
    border-radius: 10px;
    transition: all 0.2s ease-out;
  }
  .criss-cross::before,
  .criss-cross::after {
    content: "";
    display: inherit;
    position: absolute;
    background-color: var(--icon-stroke-color);
    height: inherit;
    width: inherit;
    border-radius: inherit;
    top: 7px;
    transition: all 0.2s ease-out;
  }
  .criss-cross::after {
    top: -7px;
  }

  .hamburger-inp {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }

  .hamburger-inp:checked + .criss-cross {
    background-color: transparent;
  }
  .hamburger-inp:checked + .criss-cross::before {
    top: 0;
    transform: rotate(-45deg);
  }
  .hamburger-inp:checked + .criss-cross::after {
    top: 0;
    transform: rotate(45deg);
  }

  @media (min-width: 769px) {
    .hamburgerButtonHolder {
      display: none;
    }
  }
</style>
