@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.resize-animation-stopper * {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.navigation-bar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 600px) {
  .navigation-bar.show-nav {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .navigation-bar.hide-nav {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Logo section with optional ham-burger-menu */
.first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container {
  background-color: aqua;
  height: 50px;
  width: 50px;
}

.brand-logo-container {
  padding: 0.5rem;
}

.brand-logo-container .brand-logo {
  height: 40px;
  display: inline-block;
  position: relative;
}

.brand-logo-container .brand-logo img {
  height: 100%;
  position: absolute;
  aspect-ratio: 1 / 1;
}

.ham-burger-button-container {
  --hamburger-line-height: 3px;
  --hamburger-line-width: 30px;
  display: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: calc(8 * var(--hamburger-line-height));
  padding: 3px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  margin-left: auto;
}

.ham-burger-button {
  display: inline-block;
  position: relative;
  height: var(--hamburger-line-height);
  width: var(--hamburger-line-width);
  background-color: white;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.ham-burger-button::before, .ham-burger-button::after {
  content: '';
  display: inherit;
  position: absolute;
  background-color: white;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  top: 7px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.ham-burger-button::after {
  top: -7px;
}

.ham-burger-button.active {
  background-color: transparent;
}

.ham-burger-button.active::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.ham-burger-button.active::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 600px) {
  .first-container {
    position: absolute;
    inset: 0 0 auto 0;
    z-index: 10;
  }
  .ham-burger-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Nav bar links */
.second-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 2%;
}

.nav-items-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
}

.nav-items-holder .nav-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  gap: 10px;
}

.nav-items-holder .nav-item-list-item {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .second-container {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    margin-right: 0;
    overflow: hidden;
  }
  .second-container.active.v2 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
  .second-container.active.v3 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
  .second-container.v1 .nav-items-holder {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
  .second-container.v3 .nav-items-holder {
    background: transparent;
    inset: 0;
  }
  .nav-items-holder {
    position: absolute;
    inset: 0 0 0 30%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  }
  .nav-items-holder.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-items-holder .nav-item-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.scroll-bar {
  position: fixed;
  inset: 0 0 0 99%;
  overflow: hidden;
}

.progress-bar {
  display: inline-block;
  width: 100%;
  height: var(--progress-height, 1%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0), to(#fff));
  background: linear-gradient(#ff0, #fff);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: calc(1vw / 2);
}

.home {
  color: white;
  position: relative;
}

.constellation-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.short-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

.contact-button {
  position: absolute;
  bottom: calc(0% - 200px);
}

.typewrite-text {
  display: inline-block;
  position: relative;
}

.typewrite-text::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 150%;
  top: 50%;
  right: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-right: 2px solid white;
  -webkit-animation: blink 300ms infinite linear alternate;
          animation: blink 300ms infinite linear alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-me {
  color: white;
  position: relative;
}

.skills-showcase-canvas {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 20%;
  right: 0;
}

.bounceInRight {
  -webkit-animation-duration: var(--animate-duration, 1s);
          animation-duration: var(--animate-duration, 1s);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

.bounceOutRight {
  -webkit-animation-duration: var(--animate-duration, 1s);
          animation-duration: var(--animate-duration, 1s);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: bounceOutRight;
          animation-name: bounceOutRight;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translateX(3000px) scaleX(3);
            transform: translateX(3000px) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-25px) scaleX(1);
            transform: translateX(-25px) scaleX(1);
  }
  75% {
    -webkit-transform: translateX(10px) scaleX(0.98);
            transform: translateX(10px) scaleX(0.98);
  }
  90% {
    -webkit-transform: translateX(-5px) scaleX(0.995);
            transform: translateX(-5px) scaleX(0.995);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translateX(3000px) scaleX(3);
            transform: translateX(3000px) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-25px) scaleX(1);
            transform: translateX(-25px) scaleX(1);
  }
  75% {
    -webkit-transform: translateX(10px) scaleX(0.98);
            transform: translateX(10px) scaleX(0.98);
  }
  90% {
    -webkit-transform: translateX(-5px) scaleX(0.995);
            transform: translateX(-5px) scaleX(0.995);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px) scaleX(0.9);
            transform: translateX(-20px) scaleX(0.9);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(2000px) scaleX(2);
            transform: translateX(2000px) scaleX(2);
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px) scaleX(0.9);
            transform: translateX(-20px) scaleX(0.9);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(2000px) scaleX(2);
            transform: translateX(2000px) scaleX(2);
  }
}

:root {
  --neon-green: #00e9bf;
}

.projects {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.tilt-card {
  display: inline-block;
  width: 225px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
}

.card-btn {
  margin-top: 20px;
}

.contact {
  color: white;
}

.mail {
  display: inline-block;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid white;
  cursor: pointer;
}

.content {
  max-width: 60ch;
}

.full-page-section {
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .full-page-section {
    min-height: 100vh;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.outlined-btn {
  padding: 1.25rem 1.75rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  background: transparent;
  cursor: pointer;
}

.outlined-btn.blur {
  background-color: rgba(0, 0, 0, 0.75);
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: rgba(0, 181, 255);
  --border-radius: 4px;
  --is-mobile-view: 'false';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'Monserrat', sans-serif;
}

body {
  background-color: black;
  width: 100vw;
  overflow: hidden;
}

.smooth-scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 1%;
  overflow: hidden;
}

.body-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  body {
    --is-mobile-view: 'true';
  }
}
/*# sourceMappingURL=portfolio-styling.css.map */