@import '_button';

:root {
  --neon-green: #00e9bf;
  --secondary-color: #fff;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 40px;
}

.tilt-card {
  display: inline-block;
  width: 225px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--neon-green);
}

.card-btn {
  margin-top: 20px;
}
