.contact {
  color: white;
  position: relative;
}

.contact-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: inline-flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 2.5rem;
  }
}

.contact-content {
  max-width: 45ch;
  text-align: center;
}

.contact-links-container {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.mail {
  display: inline-block;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  padding-left: 40px;

  cursor: pointer;
}

.social-media-list {
  --socialMediatItem: 40px;
  --socialMediaMargin: calc(var(--socialMediatItem) * 0.65);

  --container-max-size: calc(
    var(--socialMediatItem) * 4 + var(--socialMediaMargin) * 3
  );

  display: inline-block;
  list-style: none;

  position: relative;
  height: var(--socialMediatItem);
  width: var(--container-max-size);

  &.vertical {
    position: relative;
    height: calc(var(--socialMediatItem) * 4);
    width: var(--socialMediatItem);
    margin-bottom: 20px;
  }

  &-item {
    --final-left-position: 0;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--socialMediatItem);
    width: var(--socialMediatItem);
    border-radius: 50%;

    border: 1px solid white;

    animation-duration: 1s;
    animation-fill-mode: forwards;

    &.vertical {
      top: auto;
      bottom: 0;
      transform: translate(-50%, var(--final-bottom-position));
      transition: transform calc(var(--animation-timing) / 2);

      border: none;

      --final-bottom-position: calc(
        -1 * var(--child-reverse-num) * (var(--socialMediatItem))
      );

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          --child-reverse-num: #{4 - $i};
        }
      }

      &.hide {
        transform: translate(-50%, 0);
      }

      &.show {
        transition-delay: calc(var(--animation-timing) / 2);
      }
    }

    &:nth-child(1) {
      --final-left-position: calc(
        -1 * (var(--socialMediatItem) * 2 + var(--socialMediaMargin) * 1.5)
      );

      --final-turn: -1turn;
    }

    &:nth-child(2) {
      --final-left-position: calc(
        -1 * (var(--socialMediatItem) * 1 + var(--socialMediaMargin) * 0.5)
      );

      --final-turn: -1turn;
    }

    &:nth-child(3) {
      --final-left-position: calc(var(--socialMediaMargin) * 0.5);

      --final-turn: 1turn;
    }

    &:nth-child(4) {
      --final-left-position: calc(
        var(--socialMediatItem) + var(--socialMediaMargin) * 1.5
      );

      --final-turn: 1turn;
    }

    &:hover {
      background: linear-gradient(green, white);
    }
  }
}

.showUp {
  animation-name: scrollExpand;
}

.wrapUp {
  animation-name: scrollShrink;
}

.footer {
  position: absolute;
  height: fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: 0 auto;
}

@keyframes scrollExpand {
  0% {
    transform: translate(-50%) rotate(0turn);
  }

  100% {
    transform: translate(var(--final-left-position)) rotate(var(--final-turn));
  }
}

@keyframes scrollShrink {
  0% {
    transform: translate(var(--final-left-position))
      rotate(calc(var(--final-turn)));
  }

  100% {
    transform: translate(-50%) rotate(0turn);
  }
}

.ss-atag {
  height: 30px;
  width: 30px;
}

.socialMediaIcons {
  height: 100%;
  width: 100%;
}

.justStroke {
  fill: transparent;
  stroke: white;
}

.fillColor {
  fill: white;
}

.contact-stick {
  --animation-timing: 1s;
  position: fixed;

  width: min-content;

  left: 40px;
  bottom: 0;
  z-index: 10;

  transition: transform calc(var(--animation-timing) / 2);

  &.hide {
    transition-delay: calc(var(--animation-timing) / 2);
    transform: translateY(100%);
  }

  &::after {
    content: '';
    display: block;
    height: 90px;
    width: 1px;
    margin: 0 auto;
    background-color: white;
  }
}

@media screen and (max-width: 600px) {
  .contact-stick {
    display: none;
  }
}
