.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.navigation-bar {
  // position: sticky;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 300ms ease-in-out;

  // transform: translateY(-100%);
  transition: all 0.2s ease-out;

  @media screen and (min-width: 600px) {
    &.show-nav {
      transform: translateY(0%);
    }

    &.hide-nav {
      transform: translateY(-100%);
    }
  }
}

.menu-header {
  display: flex;
  align-items: center;
}

/* Logo section with optional ham-burger-menu */
.first-container {
  display: flex;
  align-items: center;
}

.logo-container {
  background-color: aqua;
  height: 50px;
  width: 50px;
}

.brand-logo-container {
  padding: 0.5rem;

  .brand-logo {
    height: 40px;
    display: inline-block;
    position: relative;

    img {
      height: 100%;
      position: absolute;
      aspect-ratio: 1 / 1;
    }
  }
}

.ham-burger-button-container {
  --hamburger-line-height: 3px;
  --hamburger-line-width: 30px;

  display: none;
  box-sizing: content-box;
  height: calc(8 * var(--hamburger-line-height));
  padding: 3px;
  position: relative;
  align-items: center;
  justify-content: center;

  margin-right: 7px;
  margin-left: auto;
}

.ham-burger-button {
  display: inline-block;

  position: relative;

  height: var(--hamburger-line-height);
  width: var(--hamburger-line-width);
  background-color: white;

  border-radius: 10px;
  transition: all 0.2s ease-out;

  &::before,
  &::after {
    content: '';
    display: inherit;
    position: absolute;
    background-color: white;
    height: inherit;
    width: inherit;
    border-radius: inherit;

    top: 7px;
    transition: all 0.2s ease-out;
  }

  &::after {
    top: -7px;
  }

  &.active {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

@media screen and (max-width: 600px) {
  .first-container {
    position: absolute;
    inset: 0 0 auto 0;
    z-index: 10;
  }
  .ham-burger-button-container {
    display: flex;
  }
}

/* Nav bar links */
.second-container {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 2%;
}

.nav-items-holder {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;

  .nav-item-list {
    display: flex;
    height: min-content;
    gap: 10px;

    &-item {
      list-style: none;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .second-container {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    margin-right: 0;
    overflow: hidden;

    &.active {
      &.v2 {
        background: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1rem);
      }

      &.v3 {
        background: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1rem);
      }
    }

    &.v1 {
      .nav-items-holder {
        background: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1rem);
      }
    }

    &.v3 {
      .nav-items-holder {
        background: transparent;
        inset: 0;
      }
    }
  }

  .nav-items-holder {
    position: absolute;
    inset: 0 0 0 30%;

    transform: translateX(100%);
    transition: transform 500ms ease-in-out;

    &.active {
      transform: translateX(0%);
    }

    .nav-item-list {
      flex-direction: column;
    }
  }
}

// @supports (backdrop-filter: blur(1rem)) {
//   .primary-navigation {
//     background: hsla(0, 0%, 100%, 0.1);
//     backdrop-filter: blur(1rem);
//   }
// }
