.content {
  max-width: 60ch;
}

.full-page-section {
  height: 100vh;

  // display: flex;
  // align-items: center;
  // justify-content: center;
}

@media screen and (max-width: 600px) {
  .full-page-section {
    min-height: 100vh;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
