.content {
  max-width: 60ch;
  cursor: default;
}

.full-page-section {
  min-height: 100vh;
  height: auto;

  // display: flex;
  // align-items: center;
  // justify-content: center;
}

@media screen and (max-width: 600px) {
  .full-page-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
