@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import '_navigation-bar';
@import '_scrollbar';

@import '_home';
@import '_about';
@import '_projects';
@import 'contact';

@import '_utilities';
@import '_button';

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: rgba(0, 181, 255);

  --border-radius: 4px;

  --is-mobile-view: 'false';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', 'Monserrat', sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  width: 100vw;
  overflow: hidden;
}

.smooth-scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 1%;
  overflow: hidden;
}

.body-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  body {
    --is-mobile-view: 'true';
  }
}
