@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import '_navigation-bar';
@import '_home';
@import '_button';
@import '_projects';
@import '_cardAnim';

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: rgba(0, 181, 255);

  --border-radius: 4px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Monserrat', sans-serif;
}

html {
  overflow-x: hidden;
  -ms-overflow-style: none; // Internet Explorer 10+
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari & Brave
  }
}

body {
  background-color: black;
  width: 100vw;
  overflow: hidden;
}

.smooth-scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 1%;
  overflow: hidden;
}

.body-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.full-page-section {
  height: 100vh;
}

.about-me {
  color: white;
  position: relative;
}

.skills-showcase-canvas {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 20%;
  right: 0;
}

.contact {
  color: white;
}

.mail {
  display: inline-block;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid white;

  cursor: pointer;
}

.scroll-bar {
  position: fixed;
  inset: 0 0 0 99%;
  overflow: hidden;
}

.progress-bar {
  display: inline-block;
  width: 100%;
  height: var(--progress-height, 1%);
  background: linear-gradient(#ff0, #fff);
  transition: all 0.2s linear;
}
