// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import '_navigation-bar';
@import '_scrollbar';

@import '_utilities';

@import '_home';
@import '_about';
@import '_projects';
@import 'contact';

@import '_button';

:root {
  // Color palette
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: transparent;

  --primary-bg-color: var(--primary-color);
  --secondary-bg-color: var(--tertiary-color);

  --primary-text-color: var(--secondary-color);

  --button-outline-color: var(--secondary-color);

  --nav-text-color: var(--secondary-color);

  --icon-stroke-color: var(--secondary-color);

  --icon-primary-fill-color: var(--tertiary-color);
  --icon-secondary-fill-color: var(--secondary-color);

  --card-stroke-color: var(--secondary-color);

  --constellation-particle-color: var(--secondary-color);
  --constellation-link-color: rgba(0, 181, 255);

  --border-radius: 4px;

  --is-mobile-view: 'false';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', 'Monserrat', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--primary-bg-color);
  width: 100vw;
  overflow: hidden;
}

.smooth-scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 1%;
  overflow: hidden;
}

.body-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  body {
    --is-mobile-view: 'true';
  }
}
