---
import ContentWrapper from "../components/ContentWrapper.astro";
import SocialMediaButtons from "../components/SocialMediaButtons.astro";

const mailId = "prasannaps2610@gmail.com";
// const mailId = 'hello@prasannaps.com';

// const copiedText = 'Mail id copied';
const copiedText = "Mail id copied to clipboard";
---

<section class="section" id="contact">
  <div>
    <ContentWrapper headerText="Get In Touch">
      <p>
        I am interested in new opportunities, especially ambitious and
        challenging projects. My inbox is always open. I&apos;ll try my best to
        get back to you!
      </p>

      <div
        style={{
          marginTop: "2rem",
          display: "flex",
          gap: "2rem",
          flexDirection: "column",
          alignItems: "center",
        }}
      >
        <div class="copyMailBox">
          <div class="copyMailContainer iconHolder">
            <svg width="25" height="25" viewBox="0 0 16 16" class="cp hide">
              <use href="#tick-svg"></use>
            </svg>
            <svg width="25" height="25" viewBox="0 0 64 64" class="cp">
              <use href="#copy-svg"></use>
            </svg>
          </div>

          <span class="copyMailContainer">
            <span class="cp hide">
              {copiedText}
            </span>
            <span class="cp">{mailId}</span>
            {mailId}
          </span>
        </div>

        <SocialMediaButtons
          items={["linkedin", "github", "instagram", "mail"]}
        />
      </div>
    </ContentWrapper>
  </div>
</section>

<script>
  const copyMailBoxNode = document.getElementsByClassName("copyMailBox")[0],
    copyMailContainer =
      copyMailBoxNode.getElementsByClassName("copyMailContainer")[1],
    elementsForCopy = [...copyMailBoxNode.getElementsByClassName("cp")],
    mailId = copyMailContainer.children[1].textContent;

  let isCopied = false;
  const setIsCopied = function (val) {
    isCopied = val;
    elementsForCopy.forEach((i) => i.classList.toggle("hide"));
  };

  // TODO :: Add some view for success & failure cases
  const copyMailIdToClipBoard = () => {
    navigator.clipboard.writeText(mailId).then(
      function () {
        setIsCopied(true);
      },
      function (err) {
        console.error("Async: Could not copy text: ", err);
      }
    );
  };

  copyMailBoxNode.addEventListener("click", function () {
    if (!isCopied) copyMailIdToClipBoard();
  });

  copyMailContainer.children[0].addEventListener("transitionend", function () {
    if (isCopied) {
      setTimeout(function () {
        setIsCopied(false);
      }, 800);
    }
  });
</script>

<style>
  .hide {
    opacity: 0;
  }

  .section {
    display: grid;
    place-items: center;
  }

  .copyMailBox {
    border: 1px solid #888;
    border-radius: 10px;
    padding: 7px 10px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }

  .copyMailBox:hover {
    border-color: #64ffda;
  }

  .copyMailContainer {
    position: relative;
    color: transparent;
  }

  .copyMailContainer > * {
    color: #fff;
    text-wrap: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 200ms linear;
  }

  .iconHolder {
    position: relative;
    height: 25px;
    width: 25px;
    display: inline-block;
  }
</style>
